
a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
a:hover {
    color: #d43836;
    text-decoration: none;
}
a:active, a:focus {
    color: purple;
    text-decoration: none;
}
#m-pageTop b, .m-readMore b, .time b, #footer .m-ft .last h3 b, nav ul li .cnt s, .m-proSortBd li a b {
    background: rgba(0, 0, 0, 0) url("../img/global.png") no-repeat scroll 0 0;
}
b {
    float: left;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 20px;
}
.ico-a {
    background: rgba(0, 0, 0, 0) url("../img/ico-a.png") no-repeat scroll 0 0;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
}
.ico-arrow-down {
    background-position: -9px 0;
    height: 5px;
    width: 9px;
}
.ico-arrow-up {
    background-position: 0 0;
    height: 5px;
    width: 9px;
}
.ico-time {
    background-position: -79px 0;
    height: 14px;
    width: 13px;
}
.ico-security {
    background-position: -119px 0;
    height: 13px;
    width: 13px;
}
.ico-exchange {
    background-position: -105px 0;
    height: 13px;
    width: 14px;
}
.ico-b {
    background: rgba(0, 0, 0, 0) url("../img/icon.gif") no-repeat scroll 0 0;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
}
.ico-b-title-1 {
    background-position: 0 -15px;
    height: 17px;
    width: 17px;
}
.m-readMore {
    padding-right: 20px;
    position: relative;
}
.m-readMore a {
    color: #666;
    font-weight: normal;
}
.s-default {
    color: #666;
}
.s-red {
    color: #d43836;
}
.s-white {
    color: #fff;
}
.s-gray {
    color: #999;
}
.s-gray2 {
    color: #666;
}
.s-orange {
    color: #f60;
}
.s-blue {
    color: #39f;
}
.s-green {
    color: #21a557;
}
.s-bg-white {
    background-color: #fff;
}
.s-bg-gray {
    background-color: #ddd;
}
.s-bg-green {
    background-color: #21a557;
}
.s-bg-orange {
    background-color: #f60;
}
.i-p-s-content .i-p-c-s-time {
    margin-bottom: 15px;
}
.i-p-c-s-time {
    display: block;
}
.i-p-c-s-time span {
    background: rgba(0, 0, 0, 0) url("../img/subscription_time.jpg") no-repeat scroll 0 0;
    color: #ff7d2d;
    float: left;
    font-family: "Arial";
    font-size: 38px;
    font-weight: bold;
    height: 47px;
    letter-spacing: 10px;
    line-height: 47px;
    margin: 0 1px;
    padding-left: 5px;
    width: 57px;
}
.ui-title {
    border-bottom: 2px solid #ddd;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    width: 1000px;
}
.ui-title h2 {
    color: #666;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    margin: 0;
}
.u-btn {
    border: 0 none;
    cursor: pointer;
    font-family: 微软雅黑,Arial,Helvetica,sans-serif;
    text-align: center;
}
.u-btn-block {
    display: block;
}
.u-btn-md {
    line-height: 24px;
    padding: 5px 40px;
}
.u-btn-lg {
    line-height: 32px;
    padding: 5px 40px;
}
.u-btn-default, .u-btn-default:hover, .u-btn-disabled, .u-btn-disabled:hover {
    background-color: #ddd;
    color: #999;
}
.u-btn-defaultBd {
    background-color: #fff;
    border: 2px solid #ccc;
    color: #666;
}
.u-btn-defaultBd:hover {
    background-color: #e25453;
    border-color: #e25453;
    color: #fff;
}
.u-btn-dangerous {
    background-color: #e25453;
    border-color: #e25453;
    color: #fff;
}
.u-btn-dangerous:hover {
    background-color: #d53737;
    color: #fff;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    min-height: 1px;
    position: relative;
}
.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.6667%;
}
.col-md-10 {
    width: 83.3333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.6667%;
}
.col-md-7 {
    width: 58.3333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.6667%;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-3 {
    width: 30%;
}
.col-md-2 {
    width: 16.6667%;
}
.col-md-1 {
    width: 8.33333%;
}
.m-listGroup li {
    line-height: 22px;
}
.m-panel {
    margin-bottom: 15px;
}
.m-panel .m-panelHd {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    padding: 5px 10px;
}
.m-panel .m-panelBd {
    padding: 10px;
}
.m-panel-default .m-panelHd {
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}
.m-panel-default .m-panelBd {
    padding: 0;
}
.m-media .m-mediaHd {
    float: left;
    margin-right: 10px;
}
.m-media .m-mediaBd {
    float: left;
}
.m-readMore a:hover {
    color: #d43836;
}
.m-readMore b {
    background-position: -40px 0;
    right: 0;
    top: 3px;
}
.time {
    margin-top: 5px;
    position: relative;
}
.time b {
    background-position: -40px -20px;
    left: 0;
    top: -1px;
}
#m-pageTop {
    background-color: #fafafa;
    background-image: -moz-linear-gradient(center top , #f0f0f0, #fafafa);
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 3;
}
#m-pageTop a {
    font-size: 12px;
}
#m-pageTop .operation {
    overflow: visible;
}
#m-pageTop ul li {
    float: left;
    height: 30px;
    padding: 0 11px 0 12px;
    position: relative;
}
#m-pageTop ul li.menu {
    width: 60px;
    z-index: 12;
}
#m-pageTop ul li s {
    border-left: 1px solid #ddd;
    font-size: 0;
    height: 12px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 11px;
    width: 0;
}
#m-pageTop li b {
    transition: transform 0.2s ease-in 0s;
}
#m-pageTop ul li .cnt {
    display: none;
}
#m-pageTop li:hover b {
    transform: rotate(720deg);
}
#m-pageTop li.menu:hover b {
    transform: rotate(360deg);
}
#m-pageTop ul li.hover .outline, #m-pageTop ul li.hover .cnt {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    position: absolute;
}
#m-pageTop ul li.hover .outline {
    height: 28px;
    left: 5px;
    top: 3px;
    width: 72px;
    z-index: -1;
}
#m-pageTop ul li.hover .blank {
    background-color: #fff;
    height: 8px;
    left: 6px;
    overflow: hidden;
    position: absolute;
    top: 23px;
    width: 72px;
    z-index: 1;
}
#m-pageTop ul li.hover .cnt {
    display: block;
    left: 5px;
    top: 30px;
    width: 72px;
}
#m-pageTop ul li.hover .cnt div {
    line-height: 24px;
    padding-left: 6px;
}
#m-pageTop .u-collectSite {
    padding-left: 16px;
}
#m-pageTop .u-collectSite b {
    background-position: 0 0;
    height: 11px;
    left: 0;
    margin-right: 5px;
    top: 9px;
    width: 12px;
}
#m-pageTop .operation li b {
    background-position: -27px -9px;
    height: 4px;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 7px;
}
#m-pageTop .operation li.hover b {
    background-position: -27px -27px;
}
#header {
    height: 115px;
}
#header .f-wrap {
    position: relative;
}
#header .m-webMark {
    bottom: 10px;
    position: absolute;
    right: 0;
}
#header h1 {
    margin: 15px 0 0;
}
nav {
    background-color: #6b6b6b;
    height: 44px;
    position: relative;
    z-index: 2;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a {
    color: #ddd;
    display: block;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 120px;
}
nav ul li a:hover {
    color: #fff;
}
nav ul li.hover, nav ul li.active {
    background-color: #e25353;
}
nav ul li.hover a, nav ul li.active a {
    color: #fff;
}
nav ul li .cnt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #ddd #ddd;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    display: none;
    left: 0;
    padding: 5px 0;
    position: absolute;
    top: 44px;
    width: 120px;
}
nav ul li .cnt s {
    background-position: 20px 20px;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 5px 5px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -5px;
    width: 0;
}
nav ul li .cnt div {
    height: 34px;
}
nav ul li .cnt div a {
    color: #333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
nav ul li.hover .cnt div a:hover {
    color: #e25453;
}
#footer {
    background-color: #f0f0f0;
    margin-top: 15px;
}
#footer .f-wrap {
    padding: 5px 0;
}
#footer .m-ft .item {
    display: inline;
    float: left;
    width: 170px;
}
#footer .m-ft .item h3 {
    color: #666;
    line-height: 26px;
    margin-bottom: 2px;
    position: relative;
}
#footer .m-ft .item a {
    color: #666;
    font-size: 12px;
}
#footer .m-ft .item a:hover {
    color: #d43836;
}
#footer .m-ft .last {
    width: 220px;
}
#footer .m-ft .last h3 b {
    background-position: -60px 0;
    left: 0;
    margin-right: 4px;
    top: 2px;
}
#footer .m-ft .telPhone {
    color: #666;
    font-family: arial;
    font-size: 20px;
    font-weight: 700;
}
#footer .m-copyright {
    color: #888;
    font-size: 12px;
    margin-top: 15px;
}
.m-title-lg {
    border-bottom: 2px solid #ddd;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
}
.m-crumbMenu {
    color: #666;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 14px 0;
}
.m-crumbMenu a {
    color: #666;
}
.m-crumbMenu em {
    margin: 0 3px;
}
.m-pageWp {
    margin: 0 auto;
    width: 700px;
}
.m-pageWp a, .m-pageWp span {
    color: #666;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 8px;
    text-align: center;
    width: 35px;
}
.m-pageWp a {
    display: inline-block;
    float: left;
    font-size: 12px;
}
.m-pageWp a:hover {
    background: #f0f0f0 none repeat scroll 0 0;
}
.m-pageWp span.active {
    background: #e25353 none repeat scroll 0 0;
    color: #fff;
}
.m-pageWp .pre {
    overflow: hidden;
    white-space: nowrap;
    width: 60px;
}
.m-product .m-mediaHd {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 240px;
    margin-right: 15px;
    overflow: hidden;
    padding: 4px;
    width: 230px;
}
.m-product .m-mediaHd img {
    height: 240px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    width: 230px;
}
.m-product .m-mediaHd img:hover {
    transform: scale(1.3) rotate(-10deg);
}
.m-product .m-mediaBd {
    width: 745px;
}
.m-product article {
    height: 250px;
    position: relative;
    width: 475px;
}
.m-product article h3 a {
    color: #333;
    font-size: 20px;
    font-weight: normal;
}
.m-product article h3 a:hover {
    color: #e25353;
}
.m-product article .m-listGroup li {
    color: #666;
    font-size: 14px;
    padding: 3px 0;
}
.m-product article .m-last {
    margin-bottom: 0;
}
.m-product article .m-last li p {
    line-height: 30px;
}
.m-product article a.u-btn {
    bottom: 0;
    position: absolute;
    right: 0;
}
.m-product aside {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 240px;
    padding: 4px;
    width: 245px;
}
.m-product aside.active {
    background-color: #f0f0f0;
}
.m-product aside a.m-proIntroduce {
    background-color: #fff;
    color: #333;
    display: block;
    height: 220px;
    padding: 10px;
    width: 225px;
}
.m-product aside dt {
    border-left: 2px solid #e35353;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin-bottom: 18px;
    text-indent: 5px;
}
.m-product aside dd {
    color: #666;
    font-size: 12px;
    line-height: 22px;
}
.m-product aside .m-listGroup li {
    color: #666;
    margin-bottom: 5px;
}
.m-line {
    border-top: 1px dashed #ddd;
    height: 0;
    margin: 10px 0;
}
.m-listTips li {
    line-height: 22px;
}
.m-listTips li b {
    margin: 5px 3px 0 0;
}
.m-listTips li b.ico-time {
    position: relative;
    top: -3px;
}
.float-toolbars {
    display: none;
    height: 60px;
    position: fixed;
    right: 10px;
    width: 55px;
    z-index: 1000;
}
.float-toolbars li {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 55px;
    line-height: 17px;
    margin-bottom: 5px;
    text-align: center;
    width: 55px;
}
.float-toolbars .user-feedback-con {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #333;
    cursor: auto;
    display: none;
    height: 171px;
    position: absolute;
    right: 55px;
    text-align: left;
    top: 0;
    width: 260px;
}
.float-toolbars .user-feedback-edit h2 {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-top: 10px;
    text-indent: 10px;
}
.float-toolbars .user-feedback-edit textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    font-size: 12px;
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    resize: none;
    width: 232px;
}
.float-toolbars .user-feedback-edit .btn-style-1 {
    margin-left: 10px;
    margin-top: 10px;
}
.float-toolbars .user-feedback-succeed {
    height: 118px;
    padding-top: 50px;
    text-align: center;
}
.float-toolbars .user-feedback-succeed {
    color: #666;
    font-size: 12px;
}
.float-toolbars .user-feedback-succeed strong {
    color: #333;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
}
.float-toolbars .user-feedback-succeed a {
    color: #1468ec;
    display: block;
    margin-top: 20px;
}
.float-toolbars .ft-user-updateLog a {
    color: #fff;
    text-decoration: none;
}
.float-toolbars .btn-global-4 {
    margin-left: 10px;
    margin-top: 5px;
}
.float-toolbars .float-toolbars-title {
    box-sizing: content-box;
    color: #fff;
    display: block;
    font-size: 0;
    height: 45px;
    line-height: 0;
    overflow: hidden;
    padding-top: 10px;
}
.float-toolbars .user-feedback .float-toolbars-title {
    background: rgba(0, 0, 0, 0) url("../img/common/feedback-1.jpg") no-repeat scroll 0 0;
}
.float-toolbars .user-feedback-1 .float-toolbars-title {
    background: rgba(0, 0, 0, 0) url("../img/common/feedback-0.png") no-repeat scroll 0 0;
}
.float-toolbars .user-feedback-2 .float-toolbars-title {
    background: rgba(0, 0, 0, 0) url("../img/common/feedback-2.jpg") no-repeat scroll 0 0;
}
.float-toolbars .user-feedback-3 .float-toolbars-title {
    background: rgba(0, 0, 0, 0) url("../img/common/feedback-3.jpg") no-repeat scroll 0 0;
}
.float-toolbars .user-feedback-4 .float-toolbars-title {
    background: rgba(0, 0, 0, 0) url("../img/common/feedback-4.jpg") no-repeat scroll 0 0;
}
.float-toolbars .float-toolbars-title:hover, .float-toolbars .float-toolbars-title.cur {
    background: #e35353 none repeat scroll 0 0;
    font-size: 14px;
    line-height: 16px;
}
.btn-global-4 {
    background: #e25353 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 80px;
}
.btn-global-4:hover {
    background: #d53737 none repeat scroll 0 0;
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
}
.crumb-nav {
    color: #999;
    font-size: 14px;
    line-height: 40px;
}
.crumb-nav a, .crumb-nav span {
    color: #999;
    font-size: 12px;
}
.crumb-nav a:hover {
    color: #e25353;
}
.iShare a {
    background-image: url("../img/common/iShare.png");
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    margin-right: 10px;
    margin-top: 4px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}
.iShare span {
    float: left;
    line-height: 26px;
}
.iShare-sinaweibo {
    background-position: -4px -120px;
}
.iShare-qqkongjian {
    background-position: -4px -80px;
}
.iShare-qqweibo {
    background-position: -4px -240px;
}
.iShare-renren {
    background-position: -4px -200px;
}
.iShare-sinaweibo:hover {
    opacity: 0.7;
}
.iShare-qqkongjian:hover {
    opacity: 0.7;
}
.iShare-qqweibo:hover {
    opacity: 0.7;
}
.iShare-renren:hover {
    opacity: 0.7;
}
.iShare-d a {
    background-image: url("../img/common/iShareD.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    margin-right: 10px;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
}
.iShare-d span {
    float: left;
    font-size: 16px;
    line-height: 32px;
    margin-right: 10px;
}
.iShare-d .iShare-sinaweibo {
    background-position: -38px 0;
}
.iShare-d .iShare-qqkongjian {
    background-position: 0 center;
}
.iShare-d .iShare-qqweibo {
    background-position: -114px 0;
}
.iShare-d .iShare-renren {
    background-position: -76px 0;
}
#iShare-weixin {
    background: rgba(0, 0, 0, 0) url("../img/common/icon-weixin.png") no-repeat scroll 0 0;
    float: left;
    height: 32px;
    margin-right: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
}
.iShare-d .iShare-sinaweibo:hover {
    opacity: 0.7;
}
.iShare-d .iShare-qqkongjian:hover {
    opacity: 0.7;
}
.iShare-d .iShare-qqweibo:hover {
    opacity: 0.7;
}
.iShare-d .iShare-renren:hover {
    opacity: 0.7;
}
#iShare-weixin:hover {
    opacity: 0.7;
}
.iShare-weixin-Div {
    background: rgba(0, 0, 0, 0) url("../img/actPage/WorldCup/cup_weixin_dialog.png") no-repeat scroll 0 0;
    height: 273px;
    overflow: hidden;
    position: relative;
    width: 740px;
}
.weixin-close {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 20px;
    top: 0;
    width: 30px;
}
.iShare-weixin-Div .ui-dialog-titlebar-close {
    display: none;
}
.iShare-weixin-Div .ui-widget-header {
    display: none;
}
.mobile-client {
    float: left;
    margin-right: 13px;
    margin-top: 11px;
}
.mobile-client li {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    height: 30px;
    margin-top: 8px;
    width: 118px;
}
.mobile-client li a {
    color: #666;
    display: block;
    font-size: 14px;
    height: 100%;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
.mobile-client a:hover {
    color: #e25353;
    cursor: pointer;
    transition: color 0.1s linear 0s;
}
.mobile-client-android, .mobile-client-iphone {
    background: rgba(0, 0, 0, 0) url("../img/common/icon_mobile.jpg") no-repeat scroll 0 0;
    height: 30px;
    width: 16px;
}
.mobile-client-android {
    background-position: 8px -31px;
}
.mobile-client-iphone {
    background-position: 8px 0;
}
.mobile-client-android a:hover .normal {
    display: none;
}
.mobile-client-android a:hover .hover {
    display: block;
}
.mobile-client-android a .hover {
    display: none;
}
.mobile-client-android a .normal {
    display: block;
}
.ui-autocomplete {
    max-height: 286px;
    overflow-y: auto;
}
body .ui-autocomplete .ui-menu-item {
    padding: 4px 0;
}
body .ui-widget-content {
    border: 1px solid #ddd;
}
.m-modeWp .tabNav li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 2px 1px 1px;
    color: #666;
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-left: -1px;
    padding: 0 50px;
}
.m-modeWp .tabNav li.active {
    border-bottom-color: #fff;
    border-top-color: #d43836;
    color: #d43836;
}
.m-modeWp .tabCnt {
    padding: 15px 0;
}
.m-modeWp .tabCnt .item {
    display: none;
}
.ui-text {
    border: 1px solid #dcdcdc;
    color: #333;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    padding: 11px 10px;
    transition-duration: 0.2s;
    transition-property: border;
    transition-timing-function: ease;
    width: 227px;
}
.ui-text:hover {
    border: 1px solid #c3c3c3;
    transition-duration: 0.2s;
    transition-property: border;
    transition-timing-function: ease;
}
.ui-text:focus {
    border: 1px solid #ff9241;
    transition-duration: 0.2s;
    transition-property: border;
    transition-timing-function: ease;
}
.ui-select {
    border: 1px solid #dcdcdc;
    color: #333;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    padding: 10px;
    width: 247px;
}
.hasDatepicker {
    background: rgba(0, 0, 0, 0) url("../img/newUser/icondate.png") no-repeat scroll 78px 12px;
    cursor: pointer;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 20px;
    width: 185px;
}
.table-style-1 {
    width: 100%;
}
.table-style-1 td, .table-style-1 th {
    border-bottom: 1px solid #e0e0e0;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.table-style-1 thead th {
    font-weight: bold;
}
.table-style-1 th {
    background: #f5f5f5 none repeat scroll 0 0;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
}
.table-style-2 {
    width: 100%;
}
.table-style-2 td, .table-style-2 th {
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}
.table-style-2 th {
    background: #f5f5f5 none repeat scroll 0 0;
    border-top: 1px solid #e0e0e0;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.table-style-4 td {
    height: 50px;
    line-height: 18px;
}
.table-style-4 td span {
    color: #999;
}
.table-style-1 a {
    color: #1468ec;
}
.table-style-3 {
    border: medium none;
    color: #666;
    display: block;
    padding: 4px 0;
}
.table-style-3 td {
    font-family: "Microsoft Yahei";
    height: 24px;
    line-height: 24px;
}
.table-style-3-name {
    color: #999;
    text-align: right;
}
.table-style-3-font-1 strong {
    color: #fb6e02;
}
.table-style-bottom-1 {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.table-style-bottom-1 a {
    color: #1468ec;
    margin-right: 28px;
}
.table-style-footer {
    line-height: 30px;
    margin-top: 20px;
    text-align: right;
}
.table-style-footer span {
}
.table-style-footer a {
    color: #999;
    padding: 2px 6px;
}
.table-style-footer a:hover {
    color: #666;
    text-decoration: none;
}
.table-style-footer a.current {
    background: #fe6100 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    margin-left: 2px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
}
.table-style-footer b {
    color: #999;
    font-weight: normal;
}
.table-style-footer-previous {
    font-size: 14px;
    font-weight: bold;
    padding: 1px 2px;
}
.table-style-footer-next {
    font-size: 14px;
    font-weight: bold;
    padding: 1px 2px;
}
.td-right-padding18 {
    padding-right: 18px;
    text-align: right;
}
.icon-detail_show {
    color: #3181d8;
}
